@import url ('https://fonts.googleapis.com/css?family=Black+Han+Sans|Oswald|Roboto|Work+Sans:900');
@import url ('https://fonts.googleapis.com/css?family=Oswald');


/* ---- INDEX PAGE --- FIRST SECTION



---- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 0 auto;  
  width:100%; 
  text-align:center;
}


h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #2980b9 4px solid; 
}

.button-field{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}


#register{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

#register:hover{ 
background:#3594D2; 
}







